In [1]:
import wbgapi as wb
import wbdata
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

from sklearn.linear_model import RANSACRegressor
from sklearn.metrics import r2_score

import statsmodels.api as sm
import warnings

warnings.filterwarnings('ignore')

<h1 style="color:black; background-color:white; padding:10px; padding-bottom:10px;text-align: center;">Green dimensions</h1>

---

In [ ]:
def load_and_name_db_WB(db, *args):
    global df_name
    df_name = db
    globals()[df_name] = wb.data.DataFrame(value1, wb.region.members(value2), range(value3, value4))

    return globals()[df_name]

In [ ]:
value1 = ['EN.ATM.CO2E.PC','EG.FEC.RNEW.ZS',"NY.GDP.MKTP.KD.ZG",'SL.UEM.TOTL.ZS']
value2 = "WLD"
value3 = 2019
value4 = 2020

load_and_name_db_WB("df_original", value1, value2, value3, value4, new_column_names)

         EG.FEC.RNEW.ZS  EN.ATM.CO2E.PC  NY.GDP.MKTP.KD.ZG  SL.UEM.TOTL.ZS
economy
ABW                7.48             NaN           0.635029             NaN
AFG               18.51        0.160850           3.911603          11.085
AGO               54.69        0.779292          -0.700000           9.481
ALB               40.20        1.691968           2.088063          11.470
AND               18.40        6.573595           2.015548             NaN
...                 ...             ...                ...             ...
XKX               26.10             NaN           4.756831             NaN
YEM                3.11        0.351701                NaN          12.978
ZAF               10.50        7.568640           0.303453          25.540
ZMB               84.50        0.370170           1.441306           5.540
ZWE               81.50        0.765887          -6.332446           7.370

[217 rows x 4 columns]

In [39]:
def rename_columns_and_drop_na(df, column_mapping):
    # Rename columns
    df = df.rename(columns=column_mapping)

    # Drop rows with missing values
    df = df.dropna()

    return df

# Example usage
# Assuming you have a DataFrame named 'df' and a dictionary of column mapping named 'column_mapping'
column_mapping = {'EN.ATM.CO2E.PC': 'CO2pcap', 'EG.FEC.RNEW.ZS': 'ren_en_consum', 'NY.GDP.MKTP.KD.ZG': 'GDP_growth', 'SL.UEM.TOTL.ZS': 'Unempl'}
new_df = rename_columns_and_drop_na(df_original, column_mapping)
new_df

         ren_en_consum    CO2pcap  GDP_growth  Unempl
economy
AFG              18.51   0.160850    3.911603  11.085
AGO              54.69   0.779292   -0.700000   9.481
ALB              40.20   1.691968    2.088063  11.470
ARE               0.67  20.502131    1.108348   2.330
ARG              10.74   3.740546   -2.000861   9.840
...                ...        ...         ...     ...
VUT              31.86   0.692501    3.241188   1.757
WSM              34.21   1.394021    4.451859   9.147
ZAF              10.50   7.568640    0.303453  25.540
ZMB              84.50   0.370170    1.441306   5.540
ZWE              81.50   0.765887   -6.332446   7.370

[173 rows x 4 columns]